<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZGUnloginView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41C853B41C59A9280040F2F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C853C71C59A9280040F2F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C853D21C59A9280040F2F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
